@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

.BarContainer{
    margin-top: 10px;
    width: 110px;
    height: 20px;
    background-color: #1e293b;
    border-radius: 10px;
}
.Bar{
    width: 0%;
    height: 100%;
    background-color: #4ade80;
    border-radius: 10px;
    box-shadow: 0 0 5px #4ade80;    

}
.animate-run {
    animation: fillBar 1s linear infinite;
}

@keyframes fillBar {
    from { width: 0%; }
    to { width: 100%; }
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

body {  
    user-select: none;
}

h1,h3,h4,button{font-family: "Rajdhani", sans-serif;}
.cross{
    position: relative;
    width: 60px;  /* Taille de la zone de la croix */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cross::before, .cross::after {
    content: "";
    position: absolute;
    background-color: #38bdf8; /* Couleur bleue comme ton thème */
    box-shadow: 0 0 10px #38bdf8; /* Effet néon */
    border-radius: 2px;
}
.cross::before {
    width: 100%;
    height: 6px;
}
.cross::after {
    width: 6px;
    height: 100%;
}

.Alined{
    display: flex;
    justify-content: space-between;
}

#AdditionPart{
    grid-area: 2 / 1;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#MultiplicationPart{
    grid-area: 2 / 3;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#AutomationPart{
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: 3 / 2;
}
#MoneyDisplay{
    grid-area: 1 / 2;
    font-family: "Orbitron", sans-serif;
    width: 30vh;
    display: flex;
    justify-content: center;
}
#AdditionCost, #MultiplierCost, #AutomationCost, #AdditionLvl, #MultiplierLvl, #AutomationLvl{font-family: "JetBrains Mono", monospace;}

#AdditionCost, #MultiplierCost, #AutomationCost{
    color: #fb923c;
    text-shadow: 0 0 2px #fb923c;
}

#AdditionLvl, #MultiplierLvl, #AutomationLvl{
    color:#38bdf8;
    text-shadow: 0 0 5px #38bdf8;
    text-shadow: inset 0 0 5px #38bdf8;
}
#button{
    display: flex;
    justify-content: center;
    width: 20vh;
    grid-area: 2 / 2;
    border-radius:50%;
    cursor: pointer;
}

#button:hover{
    box-shadow: 0 0 10px 10px #38bdf8;
    transform: scale(0.95);
}

#button:active{
    box-shadow: 0 0 20px 20px #38bdf8;
    transform: scale(0.9);
}

#IncrementalValue{   
    font-size: 40px;
    top: 40px;
    color: #f8fafc;
    text-shadow: 0 0 5px #38bdf8;
}

.ALL {
    color: #f8fafc;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.StandardComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vh;
    height: 20vh;
    border-radius:  20px; ;
    background-color: #1e293b;
    box-shadow:0 0 5px 1px #38bdf8,
    inset 0 0 5px 1px #38bdf8;
    border: solid 2px #38bdf8;
    justify-self: center;
    align-self: center;
}

.StandardComponent h1,
.StandardComponent h3,
.StandardComponent h4 {
    margin: 0vh;
}

.StandardComponent button {
    margin-top: 0.2vh;
    padding: 0.5vh 1vh;
    background-color: #38bdf8;
    color: #1e293b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Rajdhani", sans-serif;
    box-shadow: 0 0 5px #38bdf8;
    color: white;
    font-size: 120%;
    font-weight: bold;
}

.StandardComponent button:hover,.StandardComponent button.not-affordable:hover  {
    background-color: #ef4444;
    box-shadow: 0 0 40px #ef4444;
    transform: scale(0.95);
}

.StandardComponent button.affordable:hover {
    background-color: #4ade80;
    box-shadow: 0 0 40px #4ade80;
    transform: scale(0.95);
}

#MultiplicationUpgrade,#AdditionUpgrade{
    margin-top: 15px;
    padding: 10px;
}

.header{
    position: absolute;
    background-color: #1e293b;
    filter: opacity(0.5);
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#ResetGame{
    position:absolute;
    background-color: #ef4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Rajdhani", sans-serif;
    box-shadow: 0 0 5px #ef4444;
    font-size: 120%;
    font-weight: bold;
    fill-opacity: 1;
    margin: 10px;
    z-index: 2;
}

#ResetGame:hover {
    background-color: #ef4444;
    box-shadow: 0 0 40px #ef4444;
    transform: scale(0.95);
}
